/* styles.css */
/* Dark colors for my website: #141414, #3e3e3e, #222 */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* I would like a contineous clean galaxy type panning background*/
  background-color: #141414;
  color: #e5e5e5;
}

header {
  background: #3e3e3e;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav {
  background: #222;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

section {
  padding: 2rem;
}

footer {
  background: #3e3e3e;
  color: white;
  text-align: center;
  padding: 1rem;
}
